<fieldset class="inputs has_many_fields">
  <ol>
    <li class="string input required stringish" id="surveyor_survey_questions_attributes_<%= one %>_options_attributes_<%= two %>_text">
      <label class="label" for="surveyor_survey_questions_attributes_<%= one %>_options_attributes_<%= two %>_text">Multi - Select<abbr title="required">*</abbr></label>
      <input id="surveyor_survey_questions_attributes_<%= one %>_options_attributes_<%= two %>_text"
                name="surveyor_survey[questions_attributes][<%= one %>][options_attributes][<%= two %>][text]"
                type="text">
    </li>
   <li><a href="#" class="button has_many_remove">Remove</a></li>
  </ol>
</fieldset>
