<fieldset class="inputs has_many_fields">
  <ol>
    <li class="text input required" id="surveyor_survey_questions_attributes_<%= one %>_options_attributes_<%= two %>_text_input">
      <label class="label" for="surveyor_survey_questions_attributes_<%= one %>_options_attributes_<%= two %>_text">
        Free text<abbr title="required">*</abbr>
      </label>
      <p>An open text field will show for the user</p>
      <% (1..10).each do |i| %>
        <input id="surveyor_survey_questions_attributes_<%= one %>_options_attributes_<%= two.to_i + i %>_text"
                      name="surveyor_survey[questions_attributes][<%= one %>][options_attributes][<%= two.to_i + i %>][text]"
                      value="<%= i %>"
                      type="hidden">
      <% end %>
    </li>
  </ol>
</fieldset>
