<fieldset class="inputs has_many_fields">
  <ol>
    <li class="string input required stringish" id="surveyor_survey_questions_attributes_<%= one %>_options_attributes_<%= two %>_text">
      <label class="label" for="surveyor_survey_questions_attributes_<%= one %>_options_attributes_<%= two %>_text">Single Select<abbr title="required">*</abbr></label>
      <p>An open input field will show for the user</p>
      <input id="surveyor_survey_questions_attributes_<%= one %>_options_attributes_<%= two %>_text"
                      name="surveyor_survey[questions_attributes][<%= one %>][options_attributes][<%= two %>][text]"
                      value="open_text"
                      type="hidden">
        <input id="surveyor_survey_questions_attributes_<%= one %>_options_attributes_<%= two %>_open_text"
                      name="surveyor_survey[questions_attributes][<%= one %>][options_attributes][<%= two %>][open_text]"
                      value="true"
                      type="hidden" >
    </li>
  </ol>
</fieldset>
