<h1><%= @survey.name %></h1>
<p class="bg-warning">All questions required</p>
<%= form_for( @attempt, :url => '/surveyor/attempts', :defaults => {
            :input_html => {
              :class => "form-control"
            }
          }, :html => {:class => 'simple-form', :role => 'form'} ) do |f| %>
  <%= f.fields_for :answers do |builder| %>
    <%= hidden_field_tag 'survey_attempt[survey_id]', @survey.id %>
      <% @survey.questions.each_with_index do |question, index| %>
        <div class="form-group">
          <h3><%= question.text %></h3>
          <%= hidden_field_tag "survey_attempt[answers_attributes][#{index}][question_id]", question.id %>
          <% if question.kind == 'free-text' %>
            <%= hidden_field_tag "survey_attempt[answers_attributes][#{index}][option_id][]", question.options.first.id %>
            <%= text_area_tag "survey_attempt[answers_attributes][#{index}][open_text][]", nil, class: 'form-control' %>
          <% elsif question.kind == 'multi-select-option'  || question.kind == 'single-select-option'%>
            <% question.options.where(open_text: nil).each do |option| %>
                <% if question.kind == 'multi-select-option' %>
                  <div class="checkbox">
                    <label>
                      <%= check_box_tag "survey_attempt[answers_attributes][#{index}][option_id][]", option.id %>
                      <%= option.text %>
                    </label>
                  </div>
                <% else %>
                  <div class="radio">
                    <label>
                      <%= radio_button_tag "survey_attempt[answers_attributes][#{index}][option_id][]", option.id %>
                      <%= option.text %>
                    </label>
                  </div>
                <% end %>
            <% end -%>
            <% question.options.where(open_text: true).each do |option| %>
              <div class="string">
                  <%= hidden_field_tag "survey_attempt[answers_attributes][#{index}][option_id][]", option.id %>
                  <%= text_field_tag "survey_attempt[answers_attributes][#{index}][open_text][]", nil, class: 'form-control', placeholder: 'Other' %>
                </div>
            <% end %>
          <% elsif question.kind == 'single-select' %>
            <% question.options.each do |option| %>
              <div class="radio">
                <%= option.text %>
                <%= radio_button_tag "survey_attempt[answers_attributes][#{index}][option_id][]", option.id %>
              </div>
            <% end -%>
          <% elsif question.kind == 'one-to-ten' %>
            <% question.options.each do |option| %>
                <label class="radio-inline">
                  <%= radio_button_tag "survey_attempt[answers_attributes][#{index}][option_id][]", option.id %>
                  <%= option.text %>
                </label>
            <% end %>
          <% else %>
            <% question.options.each do |option| %>
              <div class="checkbox">
                <%= option.text %> <br/ >
                <%= check_box_tag "survey_attempt[answers_attributes][#{index}][option_id][]", option.id %>
              </div>
            <% end -%>
          <% end %>
        </div>
      <% end -%>
  <% end -%>
  <%= f.submit "Submit", class: 'btn btn-primary' %>
<% end -%>
