<div class="col-lg-6">
      <h3>Completed Surveys</h3>
      <% @attempts = Surveyor::Attempt.where(participant_id: current_user.id) %>
      <%= link_to 'Answer Inital Survey', Surveyor::Engine.routes.url_helpers.new_attempt_path if @attempts.size == 0 %>
      <% if @attempts.size > 0 %>
        <ul>
          <% @attempts.each do |att| %>
            <li><%= link_to att.survey.name, Surveyor::Engine.routes.url_helpers.attempt_path(att) %> | <%= att.answers.first.created_at.strftime("%b %d, %Y") %></li>
          <% end %>
        </ul>
      <% end %>
    </div>
    <div class="col-lg-6">
      <h3>Untaken Surveys</h3>
      <% @allsurveys = Surveyor::Survey.all.map(&:id) %>
      <% @attempts = Surveyor::Attempt.where("participant_id = ?", current_user.id).map(&:survey_id) %>
      <% @un_surveys = @allsurveys - @attempts %>
      <% @un_surveys.each do |int| %>
        <% @sur = Surveyor::Survey.find(int.to_i) %>
        <%= link_to @sur.name, Surveyor::Engine.routes.url_helpers.new_attempt_path(@sur.id) %>
      <% end %>
    </div>
