<% unless @survey.nil? %>
  <p><strong><%= @survey.name %></strong></p>
  <ol>
    <% @survey.questions.each do |q| %>
      <li><%= q.text %></li>
      <ul>
        <% Surveyor::Answer.where(attempt_id: @attempt.id, question_id: q.id).each do |ans| %>
          <% if ans.open_text && ans.option.open_text == true && !ans.open_text.blank? %>
            <li><%= ans.open_text %></li>
          <% else %>
            <% unless ans.option.open_text == true && ans.open_text.blank? %>
              <li><%= ans.option.text %></li>
            <% end %>
          <% end %>
        <% end %>
      </ul>
    <% end %>
  </ol>
<% end %>
