<h2><%= @surveyor_survey.name %></h2>
<p><%= @surveyor_survey.description %></p>
<p><span class="label label-default">Active</span> <%= @surveyor_survey.active %></p>
<ol>
<% @surveyor_survey.questions.each do |q| %>
  <li><h3><%= q.text %> (<%= q.kind %>)</h3></li>
  <ol>
    <% q.options.each do |o| %>
      <% if o.open_text == true %>
        <li><em>open text area</em></li>
      <% else %>
        <li><%= o.text %></li>
      <% end %>
    <% end %>
  </ol>
<% end %>
</ol>
